<center> 
<h1> Bookmark Manager</h1>

<div>
  <form action="/sign_up" method="post"> 
    <input type="submit" value="Sign up"> 
  </form>

  <form action="/sign_in" method="post"> 
    <input type="submit" value="Sign in"> 
  </form>

  <form action="/add_link" method="post"> 
    <input type="submit" value="Add link"> 
  </form>
</div>

<%= @bookmarks %>

</center>